<p><%= link_to "アカウント", :users/account %></p>
<p><%= link_to "プロフィール", :users/profile %></p>


<h3>アカウント</h3>
<div class=" mt-5">
    <div class="form-group">
      <label> メールアドレス</label><br>
      <div class="border-bottom" >
        <%= @user.email %>
      </div>
    </div>

    <div class="form-group">
      <div class="border-bottom" >
        <label> パスワード</label><br>
                  ************
      </div>
     </div>
</div>
